<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <script src="/js/GetUserGames.js"></script>
</head>
<body>
    <header>
        <div class="header__title">
            <a class="page-logo" href="/main">gamevault</a>
        </div>
        <nav>
            <a class="nav__icon" href="/search"><img class="nav__icon" src="/icons/search.svg" alt=""></a>
            <a class="nav__icon" href="/account"><img class="nav__icon" src="/icons/account.svg" alt=""></a>
        </nav>
    </header>
    <nav class="account-nav">
        <a class="" href="">Profile</a>
        <a class="" href="">Games</a>
        <a class="" href=""></a>
    </nav>
    <div class="main">
        <div id="user-game-list"></div>
    </div>
</body>
</html>