<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game info</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/game-page.css">
    <script src="/js/GetGame.js"></script>
    <script src="/js/AddGame.js"></script>
    <script src="/js/DeleteGame.js"></script>
    <script src="/js/CheckEntity.js"></script>
    <script src="/js/ModalWindow.js"></script>
    <script src="/js/Enums.js"></script>
</head>
<body>
    <header>
        <div class="header__title">
            <a class="page-logo" href="/main">gamevault</a>
        </div>
        <nav>
            <a href="/search"><img class="nav__icon" src="/icons/search.svg" alt=""></a>
            <a href="/account"><img class="nav__icon" src="/icons/account.svg" alt=""></a>
        </nav>
    </header>

    <div class="modal" data-modal="1">
        <p class="modal__title">Set status</p>
        <div class="modal__buttons">
            <div class="list-radio-button">
                <div class="radio-button">
                    <input id="Completed" type="radio" name="radio" value="0">
                    <label for="Completed">Completed</label>
                </div>

                <div class="radio-button">
                    <input id="Playing" type="radio" name="radio" value="1">
                    <label for="Playing">Playing</label>
                </div>

                <div class="radio-button">
                    <input id="Planned" type="radio" name="radio" value="2">
                    <label for="Planned">Planned</label>
                </div>

                <div class="radio-button">
                    <input id="Abandoned" type="radio" name="radio" value="3">
                    <label for="Abandoned">Abandoned</label>
                </div>
            </div>
            <button class="modal__accept game-button" data-modal="1">Accept</button>
            <button class="modal__close game-button" data-modal="1">Close</button>
        </div>
    </div>

    <div class="modal" data-modal="2">
        <p class="modal__title">Set Rating</p>
        <div class="rating-form">
            <div class="rating-form__input">
                <label>Graphics</label>
                <input id="rating-graphics" type="range" min="0" max="10">
                <span id="rating-graphics-value"></span>
            </div>
            <div class="rating-form__input">
                <label>Story</label>
                <input id="rating-story" type="range" min="0" max="10">
                <span id="rating-story-value"></span>
            </div>
            <div class="rating-form__input">
                <label>Gameplay</label>
                <input id="rating-gameplay" type="range" min="0" max="10">
                <span id="rating-gameplay-value"></span>
            </div>
        </div>

        <button class="modal__accept game-button"  data-modal="2">Accept</button>
        <button class="modal__close game-button"  data-modal="2">Close</button>
    </div>

    <div id="loading">Loading...</div>
    <div class="main-info" id="main">
        <div class="game">
            <div class="game-info">
                <h2 class="game-title"></h2>
                <p class="game-release-date"></p>
                <ul class="game-platforms"></ul>
                <ul class="game-genres"></ul>
                <span class="game__summary"></span>
                <!--<p class="note-info" contenteditable="true">Абоба</p>-->
            </div>
            <img class="game__cover" alt="cover">
        </div>
    </div>
</body>
</html>