<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Game Details</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header__title">
            <a class="page-logo" href="/main">gamevault</a>
        </div>
        <nav>
            <a href="/search"><img class="nav__icon" src="/icons/search.svg" alt=""></a>
            <a href="/account"><img class="nav__icon" src="/icons/account.svg" alt=""></a>
        </nav>
    </header>
    <div class="main">

    </div>
</body>
</html>

