.swiper-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.swiper-button-prev,
.swiper-button-next {
    /*background: rgba(0, 0, 0, 0.5);*/
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    pointer-events: auto;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: cornflowerblue;
    /*background: rgba(0, 0, 0, 0.7);*/
}