div {
    background: #D4DAE0;
}

body {
    font-family: RethinkSans, serif;
}

h1 {
    font-family: RethinkSans, serif;
    font-weight: bold;
    text-align: center;
}

.page-logo {
    color: #000;
    font-family: RethinkSans, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: black;
    text-decoration: none;
}

.nav__icon {
    height: 40px;
    width: 40px;
    font-weight: 800;
    font-variation-settings: 'FILL' 1
}

a:hover {
    filter: brightness(75%);
    cursor: pointer;
}


nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

h2 {
/*    width: 361px;
    height: 55px;*/

    color: #000;
    font-family: RethinkSans, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    display: flex;
    justify-content: space-between;
    width: auto;
    background: #D4DAE0;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.header__title {

}

.main {
    width: 1135px;
    height: 800px;
    margin: auto;
}

.main-info {
    justify-content: center;
    height: 900px;
    margin: auto;
}

/*----------------------*/

.game-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#loading {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #fff url('../icons/loader.gif') no-repeat center center;
}

.modal {
    opacity: 0;
    visibility: hidden;


    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}







